<!DOCTYPE html>
<html>
<head>
	<title>Report a User</title>
	<script type="text/javascript">
		$(function(){

			$(".dmReason li a").click(function() {

				$(".reason:first-child").text($(this).text());
				$(".reason-toggle:first-child").val($(this).text());
				$('.form-control-reason').val($(this).text());

			});

		});
	</script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-sm-12">
					<h2>Reporting a user</h2>
				</div>
			</div>
			<br>
			
			<%= render 'form' %>

		</div>
	</div>
</body>
</html>