  <%= form_tag rides_path, method: 'get' do %>
  <div class="row">
    <div class="col-xs-3">
      <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default disabled" type="button">From</button>
      </span>
      <%= text_field_tag :searchStart, params[:searchStart],class: "form-control" , placeholder: "Pickup from.."%>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <div class="col-xs-3">
      <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default disabled" type="button">To</button>
      </span>
  <%= text_field_tag :searchEnd, params[:searchEnd],class: "form-control",  placeholder: "Drop off at.."  %>
</div>
</div>
  <%= submit_tag "Search For Rides",class: "btn btn-primary"%>
  <% end %>