<!DOCTYPE html>
<html>
<head>
	<title>Landing Page</title>
</head>
<body class="landing">

	<div class="container">
	<br>

		<div class="jumbotron">
			<%= render 'search_rides' %>
		</div>
	</div>
	<br >
	
	<br></br>
</body>
</html>