<!DOCTYPE html>
<html>
<head>
	<title>Settings</title>
</head>
<body class="landing">
	<div class="container">
		<br><br>
		<div class="row">
			<div class="col-sm-6">
				<ul class="list-group">
					<li class="list-group-item text-muted error"><%= link_to('Report a User', '/reports/index', :style => 'color: #e94331') %></li>
					<li class="list-group-item text-muted main-color"><%= link_to('Edit registration', edit_user_registration_path) %></li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>