<!DOCTYPE html>
<html>
<head>
	<title>Offer a Ride</title>
	<script type="text/javascript">
		$(function(){
			$(".dmSource li a").click(function() {
				var name = $(this).text();
				var landmarks = <%= raw @ids %>;
				var id;
				$(".source:first-child").text(name);
				$(".source-toggle:first-child").val(name);
				for (var i = 0; i < landmarks.length; i++) {
					if(name == landmarks[i]){
						id = landmarks[i+1];
						break;
					}
				};
				$('.form-control-source').val(id);
				console.log($('.form-control-source').val());
			});
		});
		$(function(){
			$(".dmDest li a").click(function() {
				var name = $(this).text();
				var landmarks = <%= raw @ids %>;
				var id;
				$(".dest:first-child").text(name);
				$(".dest-toggle:first-child").val(name);
				for (var i = 0; i < landmarks.length; i++) {
					if(name == landmarks[i]){
						id = landmarks[i+1];
						break;
					}
				};
				$('.form-control-dest').val(id);

				console.log($('.form-control-dest').val());
			});
		});
	</script>

</head>
<body class="landing">
	<div class="container">
		<div class="jumbotron">
			<div class="row">
				<div class="col-sm-12">
					<h1>Offer a Ride!</h1>
				</div>
			</div>
			<br>

			<%= render 'form' %>
		</div>
	</div>
</body>
</html>